
body {
    background-color: pink;
  }

.title {
  font-size: 15px; 
}
  
  .all {
    display: flex;
    align-items: center;
  }
  
  a {
    color: DarkViolet;
    text-decoration: none;
    font-size: 20px;
  }
  
  .menu {
    width: 40px;
    height: 40px;
    background-color: DarkViolet;
    margin-left: 15px;
    border: 1px solid black;
  }
  
  .line-first {
    width: 30px;
    height:2px;
    background-color: black;
    margin-top: 10px;
    margin-left: 5px;
  }
  
   .line-second {
    width: 30px;
    height:2px;
    background-color: black;
    margin-top: 8px;
    margin-left: 5px;
   }
    
    .line-third {
    width: 30px;
    height:2px;
    background-color: black;
    margin-top: 8px;
    margin-left: 5px;
    }
    
       
   
     
      
      @media (min-width: 768px) { 
        .title {
        font-size: 25px;
        } 
       
        } 

        @media (min-width: 1024px) { 
          .title {
          font-size: 55px;
          } 
         
          } 

          @media (max-width: 768px) { 
                     
            .list {
                display: none;
                } 
            } 

            @media (min-width: 769px) { 
             
              .menu {
                  display: none;
                  } 
              }
        