
body {
    background-color: pink;
  }
  
  .all {
    display: flex;
    align-items: center;
  }
  
  a {
    color: DarkViolet;
    text-decoration: none;
    font-size: 20px;
  }
  
  .menu {
    width: 40px;
    height: 40px;
    background-color: DarkViolet;
    margin-left: 15px;
    border: 1px solid black;
  }
  
  .line-first {
    width: 30px;
    height:2px;
    background-color: black;
    margin-top: 10px;
    margin-left: 5px;
  }
  
   .line-second {
    width: 30px;
    height:2px;
    background-color: black;
    margin-top: 8px;
    margin-left: 5px;
   }
    
    .line-third {
    width: 30px;
    height:2px;
    background-color: black;
    margin-top: 8px;
    margin-left: 5px;
    }
    
       
  
    @media (min-width: 1281px) { 
        .title {
        font-size: 75px;
        } 
        .menu {
            display: none;
            } 
        }   

        @media (min-width: 1025px) { 
            .title {
            font-size: 65px;
            } 
            .menu {
                display: none;
                } 
            } 

            @media (min-width: 641px) { 
                .title {
                font-size: 35px;
                } 
                .menu {
                    display: none;
                    } 
                }
                
                @media (max-width: 640px) { 
                     
                    .list {
                        display: none;
                        } 
                    } 

               
                    @media (min-width: 961px) { 
                        .title {
                        font-size: 55px;
                        } 
                       
                        }      

                        @media (min-width: 481px) { 
                            .title {
                            font-size: 25px;
                            } 
                           
                            } 

                            @media (min-width: 320px) { 
                                .title {
                                font-size: 15px;
                                } 
                               
                                } 

       
       